body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Segoe UI', sans-serif !important; 
    overflow: hidden;
    overflow-y: auto;
    color: #000000 !important;
    font-size: 14px !important;
    background-color: #eff3f6 !important;
    position: relative;
  }
  
  h1, h2, h3, h4, h5 {
    margin: 0;
  }
  
  ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
  }
  
  .line_devider {
    background-color: #ddd;
    height: 1px;
    margin: 30px 0 20px;
  }
  .line_devider_inside {
    background-color: #ddd;
    height: 1px;
    margin: 15px 0;
  }
  
  .form-label {
    margin-bottom: 0 !important;
  }
  
  .checkbox_customeStyle input[type="checkbox"] {
    position: relative;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    top: 4px;
  }

  .iconDefaultStyle {
    max-width: 20px;
  }
  
  .nav-link {
    padding: 15px 20px !important;
    color: #000;
  }

  .dropdown-toggle::after {
    position: relative;
    top: 2px;
    left: 1px;
}

.dropdown-toggle.show.nav-link::after {
  transform: rotate(180deg);
}

.dropdown-toggle.show.nav-link {
  background-color: #0067ff;
  color: #fff !important;
}

.custom_label_color, label.form-label {
  color: #979797 !important;
}

.itinerary_carousel_action {
  position: absolute;
  width: 100%;
  text-align: center;
  height: 100%;
  top: 0;
  background-color: rgba(0,0,0,0.4);
  left: 0;
  right: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  border-radius: 5px;
}

.tab-content {
  background-color: #fff;
  padding: 25px 16px;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.required {
  color: red;
}

.tab_default_style {
  background-color: #0d6efd;
  color: #fff;
  font-weight: 700;
  border-radius: 4px;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
    0%  {box-shadow: 20px 0 #000, -20px 0 #0002;background: #000 }
    33% {box-shadow: 20px 0 #000, -20px 0 #0002;background: #0002}
    66% {box-shadow: 20px 0 #0002,-20px 0 #000; background: #0002}
    100%{box-shadow: 20px 0 #0002,-20px 0 #000; background: #000 }
}

.modal-90w {
  width: 90% !important;
  max-width: none !important;
}

.modal-95w {
  width: 95% !important;
  max-width: none !important;
  height: 80%;
  overflow-y: auto;
}

.manage_top_view {
  margin-top: 70px;
}

.display_table_main_wrapper table thead tr th {
  font-weight: 500;
  background-color: #0067ff;
  color: #fff;
}

.display_table_main_wrapper table {
  font-size: 14px;
}

.display_table_main_wrapper.customer_page table svg {
  margin-right: 10px;
  color: #e7505a;
  cursor: pointer;
}

.display_table_main_wrapper.customer_page table svg:first-child {
  color: #0067ff;
}

.display_table_main_wrapper.customer_page table svg:last-child{
  transform: scale(1.23)
}

.addnewcustomer {
  text-align: right;
  margin: 16px 0;
}

.addnewcustomer svg {
  cursor: pointer;
  transform: scale(1.5);
  margin-left: 10px;
  margin-right: 5px;
  color: #0067ff;
}

.table>tbody tr td {
  padding: 5px 8px !important;
}

.navigationWrapper .activemenu, a.activemenu a, a.activemenu.nav-link, .activemenu a.dropdown-toggle.nav-link {
  background-color: #0067ff !important;
  color: #fff !important;
  text-decoration: none;
}
